:root {
  --primary-color: #fcf9ee;
  --secondary-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

svg {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.col-0 {
  flex: 0;
  width: 0;
}

.col-1 {
  flex: 0 0 8.3333333%;
  max-width: 8.3333333%;
}
.col-2 {
  flex: 0 0 16.6666667%;
  max-width: 16.6666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.3333%;
}
.col-5 {
  flex: 0 0 41.666667;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* pure layout */
/* pure layout */
/* pure layout */

.index-pure-layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  background-color: coral;
  border: 1px solid #000;
  padding: 15vh 15vh 10vh 25vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  background-color: cornflowerblue;
  border: 1px solid #000;
  min-height: 200px;
}

/* header css */
/* header css */
/* header css */
#spring {
  max-height: 200px;
  overflow: hidden;

  font-variant: all-petite-caps;
}

/* spring special css */
/* spring special css */
/* spring special css */
.special-active {
  transition: 0.3s;
}

.spring-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.spring-active {
  top: -105px;
  left: 0px;
  position: absolute;
  font-size: 255px;
  letter-spacing: -25px;
  transition: 0.3s;
  color: var(--secondary-color);
}
.spring-active:last-child {
  top: 100%;
  left: 0;
}

.spring-wrapper:hover .spring-active:first-child {
  top: -350px;
}

.spring-wrapper:hover .spring-active:last-child {
  top: -105px;
}

/*  summer */
/*  summer */
/*  summer */
#summer {
  max-height: 200px;
  overflow: hidden;
  font-variant: all-petite-caps;
}

#time {
  max-height: 200px;
}

#time g {
  fill: var(--secondary-color);
}

#time svg {
  transition: 0.5s;
  animation: draw_time 3s forwards;
}

@keyframes draw_time {
  from {
    stroke-dashoffset: 0%;
  }
  to {
    stroke-dashoffset: 100%;
  }
}

/* pure items */
/* pure items */
/* pure items */
#pure-items .col-6 .content {
  min-height: 85vh;
  width: 100%;
}

#pure-items .row {
  position: relative;
  justify-content: space-between;
}
#pure-items .col-6 {
  max-width: 48%;
}

#pure-items .row:first-child .content {
  border: 3.5px solid var(--secondary-color);
  position: relative;
}

#pure-items .row:first-child .col-6:nth-child(2) .content::before {
  content: "(01)";
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
}
#pure-items .row:first-child .col-6:nth-child(2) .content::after {
  content: "MAN";
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#pure-items .row:first-child .col-6:nth-child(3) .content::before {
  content: "(02)";
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
}
#pure-items .row:first-child .col-6:nth-child(3) .content::after {
  content: "WMNS";
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#equal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  opacity: 0.5;
  z-index: 12;
}

/* explore */
/* explore */
/* explore */
#explore .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

.explore {
  cursor: pointer;
  position: relative;
  color: var(--secondary-color);
  overflow: hidden;
}

#explore-under {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  height: 2px;
  width: 100%;
  transform: translate(-100%, 0);
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.under-go-mid {
  transform: translate(0%, 0) !important;
}

.under-mid-go-right {
  transform: translate(100%, 0) !important;
}

.under-mid-go-left {
  transform: translate(-100%, 0) !important;
}

#pure-items.index-pure-layout {
  padding-top: 0;
}

/* rolling  */
/* rolling  */
/* rolling  */

/* who were are */
/* who were are */
/* who were are */
#who-we-are {
  font-size: 50px;
  font-weight: 500;
}
#who-we-are .col-8 {
  display: flex;
  justify-content: flex-end;
}

.col-8 ins {
  margin: 0 10px;
}
/* products */
/* products */
/* products */

#products .row {
  width: 2000px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.product {
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 400px;
  background-color: #e7d6c4;
  border: 1px solid #000;
  padding: 20px;
}
.pd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pd:hover {
  cursor: grab;
}
.pd-img {
  padding: 50px;
  height: 80%;
  overflow: hidden;
}

.pd-sex {
  height: 10%;
}
.pd-sex img {
  height: 100%;
}
.pd-name {
  height: 30%;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: -0.4rem;
  transform: scale(0.6, 1.1);
  font-weight: 500;
}
.pd-price {
  height: 15%;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: -0.1rem;
}
/* shop all */
/* shop all */
/* shop all */
#shop-all .content:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* review */
#review .row {
  justify-content: space-between;
}
#review .col-6 {
  max-width: 48%;
}

.name {
  position: absolute;
  z-index: 10;
}

#review-name .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 120px;
  position: relative;
}
.review-name-decoration {
  position: absolute;
  top: 30%;
  left: 40%;
  height: 100px;
  width: 100px;
  background-color: crimson;
  z-index: 8;
}

#review .col-6:nth-child(2) .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* footer */
/* footer */
/* footer */
footer {
  padding: 3vh 10vh;
}

footer .col-6 .content {
  border: none;
}

footer .content {
  min-height: 10px;
  height: initial;
  background-color: initial;
}

.subscribe-1 {
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
}

.letter {
  padding: 10px 0 70px 0;
  height: 70px;
  width: 70px;
}
.subscribe-2 {
  padding: 12px 0 10px 0;
  font-size: 13px;
  color: var(--secondary-color);
  font-weight: 500;
  text-transform: uppercase;
}

/* form css */
/* form css */
/* form css */
input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  background-color: transparent;
  padding: 15px;
  width: 500px;
  font-size: 20px;
}

.btn {
  cursor: pointer;
}
.btn-submit {
  background-color: transparent;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 13px;

  text-transform: uppercase;
  margin-left: -70px;
}

::-webkit-input-placeholder {
  font-size: 25px;
  color: rgba(128, 128, 128, 0.705);
}

.foot-top .content {
  padding: 10px 20px;
  text-transform: uppercase;
}

/* foot bot */
/* foot bot */
/* foot bot */

.foot-top a {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
}

.foot-bot .content {
  padding: 70px 20px 0 20px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.btn-up {
  display: flex;
  justify-content: center;
  padding: 0 20px 75px 20px;
}

.social {
  display: flex;
  justify-content: center;
  padding: 78px 20px 0 20px;
}

/* circle btn css */
/* circle btn css */
/* circle btn css */
.circle {
  height: 80px;
  width: 80px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 40px;
  transition: 0.3s;
}

.btn-up .circle .arrow {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.circle:hover {
  transform: scale(1.16);
}

.circle:hover .arrow {
  transform: translate(-50%, -50%) scale(0.8) rotate(360deg);
}

.btn-up .circle:hover .arrow {
  transform: translate(-50%, -50%) rotate(270deg);
}

#social .col-12 {
  display: flex;
  justify-content: center;
}

.social {
  height: 70px;
  width: 50%;
}

.social svg {
  width: 100%;
}
.sc {
  cursor: pointer;
}

/* special css */
/* special css */
/* special css */
.special-wrapper {
  width: 90px;
  height: 25px;
  overflow: hidden;
}
a.special-active {
  display: block;
  transition: 0.4s;
}

a.special-active:nth-child(2) {
  transform: rotate(10deg);
}
.special-wrapper:hover a.special-active:first-child {
  transform: translateY(-100%) rotate(-4deg);
}
.special-wrapper:hover a.special-active:nth-child(2) {
  transform: translateY(-100%) rotate(0deg);
}

footer {
  background-color: var(--primary-color);
}
footer .content {
  border: initial;
}

/* mobile responsive */

/* small device 0 to 576px */
@media screen and (max-width: 576px) {
  /* products */
  /* products */
  /* products */
  #products {
    display: none;
  }

  /*  footer css*/
  /*  footer css*/
  /*  footer css*/
  .col-sm-0 {
    display: none;
  }
  .col-sm-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  footer {
    padding: 20px;
  }

  .foot-top a {
    font-size: 15px;
  }

  .foot-top .content {
    font-size: 10px;

    padding: 5px 20px;
    padding-left: 5px;
  }

  .special-wrapper {
    height: 17px;
  }

  .foot-bot .content {
    font-size: 10px;
    padding: 67px 5px 0 5px;
  }

  #copy {
    padding: 54px 5px 0 5px;
  }

  .btn-up {
    padding: 0 20px 35px 20px;
  }

  .circle {
    height: 45px;
    width: 45px;
  }

  .arrow {
    height: 18px;
  }

  .social {
    width: 90%;
  }
}

/* medium device 576px to 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
  /* products */
  /* products */
  /* products */
  #products {
    display: none;
  }
  /*  footer css*/
  /*  footer css*/
  /*  footer css*/
  .col-md-0 {
    display: none;
  }
  .col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  footer {
    padding: 20px;
  }

  .foot-top a {
    font-size: 20px;
  }
  .foot-top .content {
    font-size: 15px;
    padding-left: 5px;
  }

  .special-wrapper {
    height: 25px;
  }

  .foot-bot .content {
    font-size: 15px;
    padding: 67px 5px 0 5px;
  }

  #copy {
    padding: 46px 5px 0 5px;
  }

  .btn-up {
    padding: 0 20px 54px 20px;
  }

  .circle {
    height: 55px;
    width: 55px;
  }

  .arrow {
    height: 22px;
  }

  .social {
    width: 65%;
    padding: 108px 20px 0 20px;
  }
}

/* large device 768 to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* products */
  /* products */
  /* products */
  #products {
    display: none;
  }
  /*  footer css*/
  /*  footer css*/
  /*  footer css*/
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666667%;
    max-width: 16.6666667%;
  }

  footer {
    padding: 20px;
  }

  .foot-top a {
    font-size: 15px;
  }
  .foot-top .content {
    font-size: 12px;
    padding-left: 5px;
  }

  .special-wrapper {
    height: 17px;
  }

  .foot-bot .content {
    font-size: 12px;
    padding: 55px 5px 0 5px;
  }

  #copy {
    font-size: 12px;
    padding: 39px 5px 0 5px;
  }

  .btn-up {
    padding: 0 20px 54px 20px;
  }

  .circle {
    height: 55px;
    width: 40px;
  }

  .arrow {
    height: 17px;
  }

  .fb {
    margin-right: 20px;
  }
  .social {
    width: 134%;
    padding: 82px 20px 0 20px;
  }

  input {
    width: 300px;
  }
  ::-webkit-input-placeholder {
    font-size: 15px;
  }

  .subscribe-1 {
    font-size: 13px;
  }

  .subscribe-2 {
    padding-top: 0;
  }
  .letter {
    padding-bottom: 60px;
    width: 50px;
  }
}

/* extra large device -xl -  992 to 1200 */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* products */
  /* products */
  /* products */
  #products {
    display: none;
  }
  /*  footer css*/
  /*  footer css*/
  /*  footer css*/
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-2 {
    flex: 0 0 16.6666667%;
    max-width: 16.6666667%;
  }

  footer {
    padding: 30px;
  }

  .foot-top a {
    font-size: 25px;
  }
  .foot-top .content {
    font-size: 20px;
    padding-left: 5px;
  }

  .special-wrapper {
    height: 34px;
    width: 115px;
  }

  .foot-bot .content {
    font-size: 18px;
    padding: 30px 5px 0 5px;
  }

  #copy {
    font-size: 18px;
    padding: 7px 5px 0 5px;
  }

  .btn-up {
    padding: 0 20px 24px 20px;
  }

  .circle {
    height: 80px;
    width: 90px;
  }
  .arrow {
    height: 35px;
  }

  .fb {
    margin-right: 20px;
  }
  .social {
    width: 134%;
    padding: 110px 20px 0 20px;
  }

  /* form */

  input {
    width: 340px;
  }
  ::-webkit-input-placeholder {
    font-size: 25px;
  }

  .subscribe-1 {
    font-size: 20px;
  }

  .subscribe-2 {
    padding-top: 0;
    font-size: 18px;
  }
  .letter {
    padding-bottom: 75px;
    width: 70px;
  }
}
