:root {
  --primary-color: #fcf9ee;
  --secondary-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

svg {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.col-0 {
  flex: 0;
  width: 0;
}

.col-1 {
  flex: 0 0 8.3333333%;
  max-width: 8.3333333%;
}
.col-2 {
  flex: 0 0 16.6666667%;
  max-width: 16.6666667%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.3333%;
}
.col-5 {
  flex: 0 0 41.666667;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* pure layout */
/* pure layout */
/* pure layout */

.index-pure-layout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 300px;
  background-color: coral;
  border: 1px solid #000;
  padding: 15vh 15vh 10vh 25vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
  width: 100%;
  background-color: cornflowerblue;
  border: 1px solid #000;
  min-height: 200px;
}

/* rolling css */
/* rolling css */
/* rolling css */

.roll-wrap {
  position: absolute;
  width: 100vw;
  display: flex;
  min-height: 100px;
  top: 0;
  left: 0;
}

.roll {
  position: absolute;
  min-height: 10px;
  padding: 20px;
  width: 5000%;
  background-color: #ddc92a;
  border: 1px solid #000;
  animation: rolling 600s infinite reverse linear;
  top: 0%;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-top: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
}

.do-not {
  display: flex;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

@keyframes rolling {
  0% {
    left: -4000%;
  }
  25% {
    left: -3000%;
  }
  50% {
    left: -2000%;
  }
  75% {
    left: -1000%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/*--------------------------------*/

/* mobile responsive */
/* mobile responsive */
/* mobile responsive */

/* small device 0 to 576px */
@media screen and (max-width: 576px) {
  .roll {
    padding: 10px;
    border-bottom-width: 2px;
    border-top-width: 2px;
  }
  .do-not {
    font-size: 13px;
  }
}

/* medium device 576px to 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
}

/* large device 768 to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
}

/* extra large device -xl -  992 to 1200 */
@media screen and (min-width: 992px) and (max-width: 1200px) {
}
