.writeByHand {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: writeByHand 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
.hand_1 {
  animation-delay: 4s;
}
.hand_2 {
  animation-delay: 4.5s;
}
.hand_3 {
  animation-delay: 5s;
}
.hand_4 {
  animation-delay: 5.5s;
}
.hand_5 {
  animation-delay: 6s;
}
.hand_6 {
  animation-delay: 6.5s;
}
.hand_7 {
  animation-delay: 7s;
}

path {
  fill: none;
  stroke: black;
  stroke-width: 15;
  stroke-dashoffset: 3000;
  stroke-dasharray: 3000;
}

/* stroke width:  */

@keyframes writeByHand {
  to {
    stroke-dashoffset: 100;
  }
}
