<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Train Deplacemaison</title>
    <link rel="stylesheet" href="./../css/index.css" type="text/css" />
  </head>
  <body>
    <!-- header -->
    <!-- header -->
    <!-- header -->
    <header class="index-pure-layout">
      <div class="row">
        <div class="col-3">
          <div class="content"></div>
        </div>
        <!-- spring -->
        <!-- spring -->
        <!-- spring -->
        <div class="col-9">
          <div class="content" id="spring">
            <div class="spring-wrapper">
              <div class="spring-active">spring,</div>
              <div class="spring-active">spring,</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- summer -->
        <!-- summer -->
        <!-- summer -->
        <div class="col-9">
          <div class="content" id="summer">
            <div class="spring-wrapper">
              <div class="spring-active">summer</div>
              <div class="spring-active">summer</div>
            </div>
          </div>  
        </div>
        <!-- time svg -->
        <!-- time svg -->
        <!-- time svg -->
        <div class="col-3"><div class="content" id="time"></div></div>
      </div>
    </header>

    <!-- pure items -->
    <!-- pure items -->
    <!-- pure items -->
    <section class="index-pure-layout" id="pure-items">
      <div class="row">
        <!-- euqal -->
        <div id="equal"></div>
        <div class="col-6">
          <div class="content"></div>
        </div>
        <div class="col-6">
          <div class="content"></div>
        </div>
      </div>
      <!-- explore -->
      <!-- explore -->
      <!-- explore -->
      <div class="row" id="explore">
        <div class="col-10"><div class="content">explore</div></div>
        <div class="col-2">
          <div class="content">
            <div class="circle">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- rolling -->
    <!-- rolling -->
    <!-- rolling -->
    <section class="index-pure-layout" id="permanent-rolling">
      <div class="roll">roll</div>
      <div class="roll">roll</div>
      <div class="roll">roll</div>
      <div class="roll">roll</div>
      <div class="roll">roll</div>
      <div class="roll">roll</div>
    </section>

    <!-- who us are =)) -->
    <!-- who us are -->
    <!-- who us are -->
    <section class="index-pure-layout" id="who-we-are">
      <div class="row">
        <div class="col-4">who we are</div>
        <div class="col8">asd</div>
      </div>
      <div class="row">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
        quas?
      </div>
      <div class="row">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
        quas?
      </div>
      <div class="row">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
        quas?
      </div>
    </section>

    <!-- products -->
    <!-- products -->
    <!-- products -->
    <section class="index-pure-layout" id="products">
      <div class="row">
        <div class="product">
          <div class="pd pd-img">img</div>
          <div class="pd pd-sex">male</div>
          <div class="pd pd-name">name</div>
          <div class="pd pd-price">price</div>
        </div>
        <div class="product">
          <div class="pd pd-img">img</div>
          <div class="pd pd-sex">male</div>
          <div class="pd pd-name">name</div>
          <div class="pd pd-price">price</div>
        </div>
        <div class="product">
          <div class="pd pd-img">img</div>
          <div class="pd pd-sex">male</div>
          <div class="pd pd-name">name</div>
          <div class="pd pd-price">price</div>
        </div>
      </div>

      <div class="row" id="shop-all">
        <div class="col-9"><div class="content">shopall</div></div>
        <div class="col-3">
          <div class="content">
            <div class="circle">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- review -->
    <!-- review -->
    <!-- review -->
    <section class="index-pure-layout" id="review">
      <div class="row">
        <div class="col-6" id="review-name">
          <div class="content">
            <div class="name">name</div>
            <div class="review-name-decoration"></div>
          </div>
        </div>
        <div class="col-6">
          <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            illo sed, necessitatibus non tenetur voluptate cum eligendi veniam.
            Quas iure unde voluptatem, labore quia molestias vitae saepe ipsum
            harum recusandae?
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <!-- footer -->
    <!-- footer -->
    <footer>
      <div class="row">
        <div class="col-sm-0 col-md-0 col-lg-6 col-xl-6 col-6">
          <div class="content">
            <!-- letter -->
            <!-- letter -->
            <!-- letter -->
            <div class="row">
              <div class="col-12">
                <div class="content subscribe-1">subscribe to newsletter</div>
              </div>
              <div class="col-12">
                <div class="content letter">letter</div>
              </div>
            </div>
            <!-- form -->
            <!-- form -->
            <!-- form -->
            <div class="row">
              <div class="col-12">
                <div class="content subscribe-2">
                  subscribe to our newsletter
                </div>
              </div>
              <div class="col-12">
                <div class="content">
                  <form action="#">
                    <input type="text" placeholder="email address" />
                    <button class="btn btn-submit">submit</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-2">
          <div class="content">
            <div class="row foot-top">
              <div class="col-12">
                <div class="content">info</div>
              </div>
              <div class="col-12 special-ele">
                <div class="content">
                  <a href="#">faq</a>
                </div>
              </div>
              <div class="col-12 special-ele">
                <div class="content">
                  <a href="#">returns</a>
                </div>
              </div>
              <div class="col-12 special-ele">
                <div class="content">
                  <a href="#">contact</a>
                </div>
              </div>
            </div>
            <div class="row foot-bot">
              <div class="col-12">
                <div class="content">credits</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-2">
          <div class="content">
            <div class="row foot-top">
              <div class="col-12">
                <div class="content">policy</div>
              </div>
              <div class="col-12 special-ele">
                <div class="content">
                  <a href="#">terms</a>
                </div>
              </div>
              <div class="col-12 special-ele">
                <div class="content">
                  <a href="#">privacy</a>
                </div>
              </div>
              <div class="col-12 special-ele">
                <div class="content">
                  <div class="special-wrapper">
                    <a href="#" class="special-active">cookie</a>
                    <a href="#" class="special-active">cookie</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row foot-bot">
              <div class="col-12">
                <div class="content" id="copy">© 2020 déplacé maison.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-2 col-xl-2 col-2">
          <div class="content">
            <div class="row">
              <div class="col-12">
                <div class="content btn-up">
                  <div class="circle">
                    <div class="arrow"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" id="social">
              <div class="col-12">
                <div class="content social">
                  <div class="sc fb"></div>
                  <div class="sc ins"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="./../js/index.js"></script>
  </body>
</html>
