<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deplace</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Loader  css -->

    <link rel="stylesheet" href="../css/loading.css" type="text/css" />
  </head>
  <body class="container-fluid">
    <!-- cookie -->
    <!-- cookie -->
    <!-- cookie -->
    <section id="cookie-notification">
      <div class="cookie-mess">
        Cookies are small text files that websites save locally to your
        computer, which allow sites to store and use information during your
        visit. They can improve your experience when using a website by:
        Remembering preferences, so you don't have to keep re-entering your
        choices when you visit again
      </div>

      <div class="cookie-btn-group">
        <div class="btn-ck btn-allow"></div>
        <div class="btn-ck btn-deny"></div>
      </div>
    </section>

    <!-- loader -->
    <!-- loader -->
    <!-- loader -->
    <section id="loader" class="loader-container">
      <div class="load-header"></div>
      <div class="load-main">
        <div class="loading-container lean-taller">
          <div class="loading">27%</div>
          <div class="loading">65%</div>
          <div class="loading">85%</div>
          <div class="loading">100%</div>
        </div>
      </div>
      <div class="load-footer">
        <div class="load-footer-text">© 2019 DéPlacè maison.</div>
        <div class="load-footer-text">all rights reserved.</div>
      </div>
    </section>

    <script src="../js/loader.js"></script>
  </body>
</html>
