<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deplace</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Link css -->

    <link rel="stylesheet" href="../css/nav.css" type="text/css" />
  </head>
  <body class="container-fluid">
    <!-- nav mibile -->
    <nav id="nav-mobile">
      <!-- before click -->
      <div id="nav-before-click">
        <div class="nav-mb-bfc-wrap">
          <!-- logo left -->
          <div class="nav-mb-bfc-stuff col-4">
            <div class="logo-mb"></div>
          </div>
          <!-- hamburger mid -->
          <div class="nav-mb-bfc-stuff col-4">
            <div class="hamburger-container">
              <div class="hbg hbg-top"></div>
              <div class="hbg hbg-mid"></div>
              <div class="hbg hbg-bottom"></div>
            </div>
          </div>
          <!-- cart right -->
          <div class="nav-mb-bfc-stuff col-4">
            <div class="cart-container">
              <div class="cart">cart</div>
              <div class="cart-value">0</div>
            </div>
          </div>
        </div>
      </div>
      <!-- after click-->
      <div id="nav-after-click">
        <div class="nav-container" id="nav-ctn-mb-atc">
          <!-- nav header -->
          <div class="nav-mb-atc-wrap">
            <!-- logo left -->
            <div class="nav-mb-bfc-stuff col-4">
              <div class="logo-mb"></div>
            </div>
            <!-- hamburger mid -->
            <div class="nav-mb-bfc-stuff col-4">
              <div class="hamburger-container">
                <div class="hbg hbg-top"></div>
                <div class="hbg hbg-mid"></div>
                <div class="hbg hbg-bottom"></div>
              </div>
            </div>
            <!-- cart right -->
            <div class="nav-mb-bfc-stuff col-4">
              <div class="cart-container">
                <div class="cart">cart</div>
                <div class="cart-value">0</div>
              </div>
            </div>
          </div>

          <!-- nav main -->
          <div class="nav-main">
            <div class="nav-tabs">
              <div class="tabs">
                tabs
                <div class="tabs-after"></div>
              </div>
            </div>
            <div class="nav-links">
              <div class="nav-links-close-wrap">
                <div class="nav-link">shop</div>
              </div>
              <div class="nav-links-close-wrap">
                <div class="nav-link">collections</div>
              </div>
              <div class="nav-links-close-wrap">
                <div class="nav-link">about</div>
              </div>
            </div>
          </div>
          <!-- nav footer -->

          <div class="nav-footer">
            <div class="col-3">
              <div class="nav-links-close-wrap">
                <div class="nav-footer-link">faq</div>
              </div>
              <div class="nav-links-close-wrap">
                <div class="nav-footer-link">term</div>
              </div>
            </div>
            <div class="col-3">
              <div class="nav-links-close-wrap">
                <div class="nav-footer-link">returns</div>
              </div>
              <div class="nav-links-close-wrap">
                <div class="nav-footer-link">privacy</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- nav desktop -->
    <nav id="nav-desktop">
      <div id="nav-left">
        <div class="nav-left-top">
          <div class="nav-link-wrapper">
            <div class="logo"></div>
            <div class="logo"></div>
          </div>
        </div>
        <div class="nav-left-bottom">
          <div class="nav-link-wrapper">
            <div class="nav-link">
              <a href="">shop</a>
            </div>
            <div class="nav-link">
              <a href="">shop</a>
            </div>
          </div>
          <div class="nav-link-wrapper">
            <div class="nav-link">
              <a href="">collections</a>
            </div>
            <div class="nav-link">
              <a href="">collections</a>
            </div>
          </div>

          <div class="nav-link-wrapper">
            <div class="nav-link"><a href="">about</a></div>
            <div class="nav-link"><a href="">about</a></div>
          </div>
        </div>
      </div>
      <div id="nav-top">
        <div class="nav-top-left"></div>
        <div class="nav-top-mid">
          <img src="./../images/blackmode.png" alt="blackmode" id="blackmode" />
        </div>
        <div class="nav-top-right">
          <div class="nav-link-wrapper">
            <div class="nav-link"><a href="">cart</a></div>
            <div class="nav-link"><a href="">cart</a></div>
          </div>

          <div class="nav-link" id="total-products"><a href="">0</a></div>
        </div>
      </div>
    </nav>

    <script src="../js/nav.js"></script>
  </body>
</html>
