* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: black;
  transition: 0.6s;
}
.loader-container {
  display: flex;
  flex-direction: column;
}
/* load header css */
.load-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.load-header svg {
  height: 70px;
  width: 70px;
}
/* load main css */
.load-main {
  display: flex;

  align-items: center;
  height: 70%;
}
.loading-container {
  height: 190px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

.lean-taller {
  transform: scale(0.9, 1.3);
}

.loading {
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.3rem;
  color: #fcf9ee;
  font-size: 150px;
  font-weight: 500;
  transition: 0.5s;
}

.loading:first-child {
  transform: translateY(100%);
}

/* .go-up {
  transform: translateY(-100%);
} */

/* load footer css */
.load-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}

.load-footer-text {
  color: #fcf9ee;
  font-size: 20px;
  font-weight: 500;
}

/* cookie css */
#cookie-notification {
  position: fixed;
  bottom: 100px;
  right: 100px;
  height: auto;
  width: 400px;
  background-color: #141414;
  transition: 2s;
  opacity: 0;
  padding: 20px;
}
.cookie-mess {
  color: #fcf9ee;
  font-weight: 500;
  font-size: 15px;
}

/* ck stand for cookie */
.cookie-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-ck {
  height: 50px;
  width: 50px;
  border: 2px solid #fcf9ee;
  margin: 15px 15px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-allow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}
.btn-allow::after {
  content: "L";
  color: #fcf9ee;
  font-size: 25px;
  transform: rotateY(180deg);
}

.btn-deny {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-deny::before {
  content: "X";
  color: #fcf9ee;
  font-size: 25px;
}

.ck-appear {
  animation-name: ck__appear;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 0.13s;
  animation-iteration-count: 1;
}
@keyframes ck__appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* mobile responsive */

/* small device 0 to 576px */
@media screen and (max-width: 576px) {
  /* loader handle */
  .load-header svg {
    height: 30px;
    width: 30px;
  }
  .loading-container {
    height: 150px;
  }

  .loading {
    font-size: 100px;
  }

  .load-footer-text {
    font-size: 15px;
  }

  /* cookie */
  #cookie-notification {
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

/* medium device 576px to 768px */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .load-header svg {
    height: 40px;
    width: 40px;
  }
  .loading-container {
    height: 150px;
  }

  .loading {
    font-size: 100px;
  }

  .load-footer-text {
    font-size: 20px;
  }

  /* cookie */
  #cookie-notification {
    bottom: 0;
    right: 0;
    width: 100%;
  }
  .cookie-mess {
    font-size: 20px;
  }

  .btn-ck {
    height: 70px;
    width: 70px;
  }
}

/* large device 768 to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .load-header svg {
    height: 50px;
    width: 50px;
  }
  .loading-container {
    height: 200px;
  }
  .loading {
    font-size: 130px;
  }

  .load-footer-text {
    font-size: 20px;
  }
}

/* extra large device -xl -  992 to 1200 */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .load-header svg {
    height: 60px;
    width: 60px;
  }
  .loading-container {
    height: 170px;
  }

  .loading {
    font-size: 150px;
  }

  .load-footer-text {
    font-size: 30px;
  }

  /* cookie */
  #cookie-notification {
    width: 500px;
  }
  .cookie-mess {
    font-size: 25px;
  }

  .btn-ck {
    height: 70px;
    width: 70px;
  }
}
