* {
  box-sizing: border-box;
  margin: 0;
  font-family: Favorit, sans-serif;
}
@font-face {
  font-family: myFont;
  src: url("../fonts/5d0751a28518922f090030ce_Cyberthrone.ttf");
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

/* class hay sử dụng */
.row {
  margin-top: 20px;
}
.box {
  min-height: 200px;
  background-color: lightcoral;
}

.big {
  min-height: 500px;
}
body {
  background-color: #fcf9ee;
}
.rotate-360 {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

/* hiệu ứng lật khi hover */
.slide {
  height: fit-content;
  width: fit-content;
  position: relative;
}
.slide-up {
  position: absolute;
}
.slide-down {
  position: absolute;
  top: 10px;
  opacity: 0;
}
.slide-left {
  position: absolute;
}
.slide-right {
  position: absolute;
  left: 10px;
  opacity: 0;
}
/*Xử lý svg*/
polygon {
  stroke: transparent;
  fill: none !important;
  stroke-dasharray: 1800;
  opacity: 1;
}

path {
  stroke: transparent;
  fill: none !important;
  stroke-dasharray: 1800;
  opacity: 1;
}

/* animation: write 5s forwards;*/
@keyframes write {
  0% {
    opacity: 0;
    fill: none;
    stroke-width: 0;
    stroke-dashoffset: 1800;
    stroke: black;
  }
  50% {
    opacity: 1;
    fill: none;
    stroke-width: 5;
    stroke-dashoffset: 1800;
    stroke: black;
  }

  100% {
    opacity: 1;
    fill: none;
    stroke-width: 10;
    stroke-dashoffset: 0;
    stroke: black;
  }
}

/* xử lý loadding  */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.load-header {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: black;
  width: 100%;
}
.load-footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  width: 100%;

  .load-footer-text {
    color: #fcf9ee;
    display: block;
    font-size: 1.2vw;
    line-height: 1.5vw;
    letter-spacing: 0.05em;
  }
}

.load-main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loadding {
    position: absolute;
    display: none;
    color: #fcf9ee;
    font-size: 20vw;
    line-height: 17vw;
    letter-spacing: 2rem;
    font-weight: 500;
    font-family: myFont, sans-serif;
  }
  .load-1 {
    display: block;
  }
}
/* không thể dùng tranfrom để canh giữa vì anime js dùng transform */

.loader.hidden {
  animation: fadeOut 0.5s forwards;
}
@keyframes fadeOut {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}
#loader-img {
  path {
    fill: #ff6900 !important;
  }
}
/* header css */
header {
  padding-right: 10vw;
  padding-left: 23.5vw;
  background-color: #fcf9ee;
  .box#fall {
    h1 {
      font-size: 13vw;
      color: black;
      float: right;
      transition: 0.5s;
      font-weight: 500;
      padding-bottom: -330px;
    }
  }
  .box#winter {
    h1 {
      font-size: 13vw;
      font-weight: 500;
      letter-spacing: -0.5rem;
      color: black;
      object-fit: contain;
      padding-top: -33vw;
    }
  }
  div#layer {
    #Layer_1 {
      width: 10.2vw;
    }
  }
  .row {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #h-r-1 {
    margin-bottom: -3vw;
  }
  #h-r-2 {
    margin-top: -3vw;
  }
}

section {
  padding-right: 10vw;
  padding-left: 23.5vw;
  margin-top: 50px;
}
footer {
}

/* first section */
#first_section {
  background-color: lightgreen;
  min-height: 500px;
}
/* rolling section */
#rolling-section {
  padding-left: 0;
  padding-right: 0;
}

/*who-we-are-section*/
#who-we-are-section {
}

/*product-section*/
#product-section {
  margin-left: -23vw;
  padding-left: 0;
  padding-right: 0;
}

/* moblie responsive   */
/* medium - md - <=768px */
@media (max-width: 768px) {
  header {
    .box#fall {
      h1 {
        font-size: 12vw;
      }
    }
    .box#winter {
      h1 {
        font-size: 12vw;
      }
    }
    #layer {
      transform: translateY(-20%);
    }
    .box {
      min-height: 0;
    }
  }
}
