<nav>
    <ul>
        <li><a href="#">menu menumeunuuuuu</a></li>
        <li><a href="#">menu 2</a></li>
        <li><a href="#">menu 3</a></li>
        <li><a href="#">menu 4</a></li>
    </ul>
</nav>