* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif, Favorit, sans-serif;
  user-select: none;
}
@font-face {
  font-family: myFont;
  src: url("../fonts/5d0751a28518922f090030ce_Cyberthrone.ttf");
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  vertical-align: middle;
}

/* turn off scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* class hay sử dụng */
.row {
  margin-top: 20px;
}
.box {
  min-height: 200px;
  background-color: lightcoral;
}

.big {
  min-height: 500px;
}
body {
  background-color: #fcf9ee;
}
.rotate-360 {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

/* hiệu ứng lật khi hover */
.slide {
  min-height: 4vh;
  margin-bottom: 1vh;
  position: relative;
  transition: 0.1s;
}

.slide-left {
  position: absolute;
}
.slide-right {
  transition: 0.3s;
}
.slide-right:hover {
  transform: translateX(5%);
}
/*Xử lý svg*/
polygon {
  stroke: transparent;
  fill: none !important;
  stroke-dasharray: 1800;
  opacity: 1;
}

path {
  stroke: transparent;
  fill: none !important;
  stroke-dasharray: 1800;
  opacity: 1;
}

/* animation: write 5s forwards;*/
@keyframes write {
  0% {
    opacity: 0;
    fill: none;
    stroke-width: 0;
    stroke-dashoffset: 1800;
    stroke: black;
  }
  50% {
    opacity: 1;
    fill: none;
    stroke-width: 5;
    stroke-dashoffset: 1800;
    stroke: black;
  }

  100% {
    opacity: 1;
    fill: none;
    stroke-width: 10;
    stroke-dashoffset: 0;
    stroke: black;
  }
}

/* xử lý loadding  */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.load-header {
  display: flex;
  padding: 50px;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  background-color: black;
  width: 100%;
}
.load-footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  width: 100%;

  .load-footer-text {
    color: #fcf9ee;
    display: block;
    font-size: 1.2vw;
    line-height: 1.5vw;
    letter-spacing: 0.05em;
  }
}

.load-main {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .loadding {
    position: absolute;
    display: none;
    color: #fcf9ee;
    font-size: 20vw;
    line-height: 17vw;
    letter-spacing: -2rem;
    font-weight: 500;
    font-family: "Roboto Condensed", sans-serif;
  }
  .load-1 {
    display: block;
  }
}
/* không thể dùng tranfrom để canh giữa vì anime js dùng transform */

.loader.hidden {
  animation: fadeOut 0.5s forwards;
}
@keyframes fadeOut {
  from {
    top: 0%;
  }
  to {
    top: -100%;
  }
}
#loader-img {
  path {
    fill: #ff6900 !important;
  }
}

/* nav css */

nav {
  background-color: crimson;

  overflow: hidden;
}

.nav-bug-li {
  margin-bottom: 1vh;
  opacity: 0;
  cursor: unset;
}
.nav-bug-a {
  cursor: initial;
}

#nav-left {
  top: 0;
  width: 10vw;
  height: 100vh;
  position: fixed;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .shop-name {
    padding: 2vw;
    padding-right: 4vw;

    .shop-name-wrap {
      cursor: pointer;
      height: fit-content;
      width: fit-content;
    }

    svg {
      height: 20vh;
      width: 5vw;
    }
    path {
      stroke: 1800;
      fill: black !important;
    }
  }
  .shop-link {
    padding: 2vw;
    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        padding: 0.2vw;
      }
      a {
        font-family: "Roboto Condensed", sans-serif;
        padding: 1vw;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1vw;
        letter-spacing: -0.01rem;
        color: black;
        text-decoration: none;
      }
    }
  }
}

#nav-top {
  right: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 89vw;
  height: 10vh;
  background-color: transparent;

  display: flex;
  justify-content: flex-end;

  .my-card {
    padding: 2vw;
    display: flex;
    .card-no-icon {
      text-transform: uppercase;
      margin-right: 0.5vw;
      font-family: "Roboto Condensed", sans-serif;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .cart-count {
      font-family: "Roboto Condensed", sans-serif;
    }
  }
}

/* header css */
header {
  padding-right: 10vw;
  padding-left: 23.5vw;
  background-color: #fcf9ee;
  .box#fall {
    h1 {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 16vw;
      color: black;
      float: right;
      transition: 0.5s;
      font-weight: 500;
      padding-bottom: -330px;
      letter-spacing: -0.5rem;
    }
  }
  .box#winter {
    h1 {
      font-size: 16vw;
      font-weight: 500;
      letter-spacing: -0.5rem;
      color: black;
      object-fit: contain;
      padding-top: -33vw;
    }
  }
  div#layer {
    #Layer_1 {
      transform: translate(-15%, 15%);
      width: 10.2vw;
    }
  }
  .row {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #h-r-1 {
    margin-bottom: -3vw;
  }
  #h-r-2 {
    margin-top: -3vw;
  }
}

section {
  padding-right: 10vw;
  padding-left: 23.5vw;
  margin-top: 50px;
}

/* first section */
#first-section {
  background-color: transparent;
  min-height: 500px;
  .row {
    position: relative;
  }
  .decoration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(65deg) scale(2);
    z-index: 10;

    path {
      fill: rgba(136, 84, 50, 0.281) !important;
    }
  }

  div.box.first-sec-img {
    border: 4px solid black;
  }
  .img-infor {
    min-height: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
  }

  .explore {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .explore-content {
      margin-right: 2vw;
      font-size: 1.5vw;
      text-transform: uppercase;
      color: black;
      position: relative;
      cursor: pointer;
    }
    .explore-under {
      position: absolute;
      left: 0;
      bottom: 0.5vh;
      height: 0.2vh;
      width: 100%;
      transform: scaleX(0);

      background-color: black;
      transition: 0.3s;
      transform-origin: left;
    }

    .explore-content:hover {
      .explore-under {
        transform: scaleX(1);
        transform-origin: right;
      }
    }
  }
  .ex-button {
    display: flex;
    align-items: center;
    #ex-btn-wrap {
      position: relative;
      width: 6vw;
      height: 10vh;
    }
    svg {
      height: 10vh;
      position: absolute;
    }
    path {
      fill: black !important;
    }
    #circle_explore {
      cursor: pointer;
    }
    #arrow_explore {
      top: 2.5vh;
      cursor: pointer;
      height: 5vh;
      width: 5vw;
    }
  }
}

.spin {
  animation: spin 0.5s forwards;
}

.spinBack {
  animation: spinBack 0.5s forwards;
}

.bigger {
  animation: bigger 0.5s forwards;
}

.smaller {
  animation: smaller 0.5s forwards;
}

/* button animation svg */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinBack {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes bigger {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.22);
  }
}

@keyframes smaller {
  from {
    transform: scale(1.22);
  }
  to {
    transform: scale(1);
  }
}

/* rolling section */
#rolling-section {
  padding-left: 0;
  padding-right: 0;
  min-height: 550px;
  display: flex;
  align-items: center;
  .row {
    overflow: hidden;
  }
  .not-scroll {
    width: 100%;
    font-size: 2vw;
    position: relative;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .not-scroll::after {
    content: ".";
    position: absolute;
    right: 0;
    top: -20%;
  }
  margin-top: 0;
}

/*who-we-are-section*/
#who-we-are-section {
  margin-top: 0;
  h2 {
    font-family: "Roboto Condensed", sans-serif;
  }
  display: flex;
  align-items: center;
  h3 {
    display: inline;
    position: relative;
    text-transform: uppercase;
    font-size: 1.5vw;
  }
  a {
    color: black;
    text-decoration: none;
  }
  h3::after {
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: black;
  }

  .row {
    margin-top: 0;
  }
  .box {
    background-color: transparentize($color: #000000, $amount: 1);
  }
}

/*product-section*/
#product-section {
  margin-left: -23vw;
  padding-left: 0;
  padding-right: 0;
  margin: 20vh 0;
  .product {
    background-color: transparentize($color: #000000, $amount: 0.5);
    height: 65vh;
    width: 25vw;
    padding: 25px;
    border: 2px solid black;
  }
  .product-infor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: lightgreen;
  }
  .row#shop-all-r {
    padding-left: 23.5vw;
    padding-right: 10vw;
  }
  .shop-all {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .shop-all-content {
      margin-right: 2vw;
      font-size: 1.5vw;
      text-transform: uppercase;
      position: relative;
      color: black;
      cursor: pointer;
    }
    .shop-all-under {
      position: absolute;
      left: 0;
      bottom: 0.5vh;
      height: 0.2vh;
      width: 100%;
      background-color: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: 0.3s;
    }
    .shop-all-content:hover {
      .shop-all-under {
        transform: scaleX(1);
        transform-origin: right;
      }
    }
  }
  .shop-all-button {
    display: flex;
    align-items: center;
    #sa-btn-wrap {
      position: relative;
      width: 6vw;
      height: 10vh;
    }
    svg {
      height: 10vh;
      position: absolute;
    }
    path {
      fill: black !important;
    }
    #circle_shop_all {
      cursor: pointer;
    }
    #arrow_shop_all {
      top: 2.5vh;
      cursor: pointer;
      height: 5vh;
      width: 5vw;
    }
  }
  .owl-stage {
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-wrap: unset;
    margin-left: 11.1vw;
  }
}

/* review section */
#review-section {
  min-height: 500px;
}

/* footer */

footer {
  padding-left: 4vw;
  padding-right: 10vw;

  .box {
    min-height: 300px;
  }
  .letter {
    flex-grow: 3;
    .letter-header {
      h3 {
        text-transform: uppercase;
        font-size: 1vw;
        color: black;
      }
    }
    .letter-content {
      height: 3.5vh;
      width: 3.5vw;
      path {
        fill: black !important;
      }
    }
  }

  .email {
    flex-grow: 7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .email-header {
      width: 100%;
    }
    .email-header {
      h4 {
        text-transform: uppercase;
        font-size: 1vw;
        color: black;
      }
    }
    .email-content {
      margin-top: -10vh;
      display: flex;
      width: 100%;
      input.email-ip {
        outline: unset;
        width: 70%;
        padding: 3vh 1vw;
        background-color: transparentize($color: #000000, $amount: 1);
        border: unset;
        border-bottom: 1px solid black;
      }
      input.email-ip::placeholder {
        color: #9c9c9b;
        font-size: 1.5vw;
      }
    }
    .email-btn {
      font-size: 0.8vw;
      margin-top: 3.5vh;
      margin-left: -3.33vw;
      text-transform: uppercase;
      background-color: transparent;
      border: unset;
    }
  }

  .box {
    background-color: transparent;
  }

  #ft-col-2 {
    h3 {
      text-transform: uppercase;
      font-size: 1vw;
      color: black;
    }
    .infor-up {
      .list-infor {
        text-transform: uppercase;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          a {
            color: black;
            text-decoration: none;
            font-size: 2vw;
          }
        }
      }
    }
    .infor-down {
      text-transform: uppercase;
      font-size: 0.9vw;
      color: black;
      font-weight: bold;
      h3 {
        font-weight: bold;
      }
    }
  }
  #ft-col-3 {
    h3 {
      text-transform: uppercase;
      font-size: 1vw;
      color: black;
    }
    .infor-up {
      .list-infor {
        text-transform: uppercase;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          a {
            color: black;
            text-decoration: none;
            font-size: 2vw;
          }
        }
      }
    }
    .infor-down {
      font-size: 0.9vw;
      text-transform: uppercase;
      color: black;
      h3 {
        font-weight: bold;
      }
    }
  }
  #ft-col-4 {
    h3 {
      text-transform: uppercase;
      font-size: 1vw;
      color: black;
    }
    .infor-up {
      .list-infor {
        text-transform: uppercase;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          a {
            color: black;
            text-decoration: none;
            font-size: 1.5vw;
          }
        }
      }
    }
    .social-media {
      padding-top: 9vh;
      height: 100%;
      width: 50%;
      .fb-icon {
        height: 15%;
        width: 15%;
        cursor: pointer;
      }
      .ins-icon {
        height: 15%;
        width: 15%;
        cursor: pointer;
      }
    }
    #ft-to-top {
      .btn-top {
        height: 100%;
        width: 100%;
        position: relative;
        height: 5vh;
        width: 5vw;
      }
      #up-btn-circle {
        cursor: pointer;
        position: absolute;
      }
      #up-btn-arrow {
        cursor: pointer;
        transform: rotate(-90deg);
        top: 2.5vh;
        position: absolute;
        height: 5vh;
        width: 5vw;
      }

      path {
        fill: black !important;
      }
    }
  }
}

.supperSpin {
  animation: supperSpin 0.5s forwards;
}
.supperSpinBack {
  animation: supperSpinBack 0.5s forwards;
}

/* footer btn up animation bug */
@keyframes supperSpin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(270deg);
  }
}

@keyframes supperSpinBack {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(-90deg);
  }
}

/* moblie responsive   */

/* medium - md - <=768px */
@media (max-width: 768px) {
  .box {
    min-height: 15vh;
  }
  header {
    .box#fall {
      h1 {
        font-size: 12vw;
      }
    }
    .box#winter {
      h1 {
        font-size: 12vw;
      }
    }
    #layer {
      transform: translateY(-20%);
    }
    .box {
      min-height: 0;
    }
  }
  main {
    #first-section {
      .first-sec-img {
        border: 3px solid black !important;
      }
      .explore {
        flex-grow: 7;
        justify-content: flex-end;
        p {
          font-size: 2.5vw;
        }
      }
      .ex-button {
        margin-left: -2vw;
        flex-grow: 1;
        justify-content: flex-start;

        #circle_explore {
          top: 1vh;
          cursor: pointer;
          position: absolute;
          height: 8vh;
          width: 10vw;
        }
        #arrow_explore {
          cursor: pointer !important;

          top: 3vh !important;
          left: 2.5vw !important;
          position: absolute !important;
          height: 4vh !important;
          width: 5vw !important;
        }
      }
    }

    #rolling-section {
      min-height: 40vh;
    }

    #product-section {
      .owl-stage {
        margin-left: 0;
      }
      .product {
        height: 60vh !important;
        width: 40vw !important;
      }
      #shop-all-r {
        #arrow_shop_all {
          left: 2vw !important;
        }
        p {
          font-size: 3vw;
        }
      }
    }
  }

  /* footer */
  footer {
    .email-header {
      margin-bottom: 1.3vh !important;
    }
    .email-btn {
      font-size: 1vw !important;
    }
    h3 {
      font-size: 1.5vw !important;
    }
    h4 {
      font-size: 1.5vw !important;
    }
    a {
      font-size: 2vw !important;
    }
    .box {
      min-height: 25vh;
    }
    #up-btn-circle {
      cursor: pointer;
      position: absolute;
      height: 8vh;
      width: 10vw;
    }
    #up-btn-arrow {
      cursor: pointer !important;
      transform: rotate(-90deg) !important;
      top: 2vh !important;
      left: 2.5vw !important;
      position: absolute !important;
      height: 4vh !important;
      width: 5vw !important;
    }

    .fb-icon {
      height: 35% !important;
      width: 35% !important;
    }
    .ins-icon {
      height: 35% !important;
      width: 35% !important;
    }
    .infor-down {
      font-size: 1.2vw !important;
    }
  }
}

/* medium - lg - <=992px */
@media (max-width: 992px) {
  .box {
    min-height: 15vh;
  }

  nav {
    li {
      a {
        font-size: 1.5vw !important;
      }
    }
    #nav-top {
      .my-card {
        display: flex;
        padding: 3vh 3vw 0 0;
      }
    }
  }
  header {
    .box#fall {
      h1 {
        font-size: 15vw;
      }
    }
    .box#winter {
      h1 {
        font-size: 15vw;
      }
    }
    #layer {
      transform: translate(0, 10%);
    }
    .box {
      min-height: 0;
    }
  }
  main {
    #first-section {
      .first-sec-img {
        border: 3px solid black !important;
      }
      .explore {
        margin-right: 2vw;
        flex-grow: 7;
        justify-content: flex-end;
        p {
          font-size: 2.5vw;
        }
      }
      .ex-button {
        margin-left: -2vw;
        flex-grow: 1;
        justify-content: flex-start;

        #circle_explore {
          top: 1vh;
          cursor: pointer;
          position: absolute;
          height: 8vh;
          width: 10vw;
        }
        #arrow_explore {
          cursor: pointer !important;

          top: 3vh !important;
          left: 2.5vw !important;
          position: absolute !important;
          height: 4vh !important;
          width: 5vw !important;
        }
      }
    }

    #rolling-section {
      min-height: 40vh;
    }

    #who-we-are-section {
      h3 {
        font-size: 3vw !important;
      }
      h2 {
        font-size: 4.5vw !important;
      }
    }

    #product-section {
      .owl-stage {
        margin-left: 0;
      }
      .product {
        height: 60vh !important;
        width: 40vw !important;
      }
      #shop-all-r {
        #arrow_shop_all {
          left: 2vw !important;
          top: 1.5vh;
          cursor: pointer;
          height: 5vh;
          width: 4vw;
        }
        .shop-all {
          margin-right: 1.5vw;
        }
        p {
          font-size: 3vw;
        }
        .shop-all-button {
          height: 8vh;
          width: 10vw;
          svg {
            height: 8vh;
          }
          #sa-btn-wrap {
            height: unset !important;
            width: unset !important;
          }
        }
      }
    }
  }

  /* footer */
  footer {
    .col-sm-2 {
      padding: 0;
    }
    h3 {
      font-size: 1.5vw !important;
    }
    h4 {
      font-size: 1.5vw !important;
    }
    a {
      font-size: 2vw !important;
    }
    .box {
      min-height: 25vh;
    }
    #up-btn-circle {
      cursor: pointer;
      position: absolute;
      height: 8vh;
      width: 10vw;
    }
    #up-btn-arrow {
      cursor: pointer !important;
      transform: rotate(-90deg) !important;
      top: 2vh !important;
      left: 2.5vw !important;
      position: absolute !important;
      height: 4vh !important;
      width: 5vw !important;
    }
    .social-media {
      width: 70% !important;
    }
    .fb-icon {
      height: 35% !important;
      width: 35% !important;
    }
    .ins-icon {
      height: 35% !important;
      width: 35% !important;
    }
  }
}

/* xl >=1200px */
@media (min-width: 1200px) {
  footer {
    .fb-icon {
      width: 35% !important;
    }
    .ins-icon {
      width: 35% !important;
    }
  }
}

/* small - sm - <= 576px */
@media (max-width: 576px) {
  main {
    #review-section {
      min-height: 100px;
    }
    #product-section {
      #arrow_shop_all {
        left: 3vw !important;
      }
    }
  }
  header {
    #layer {
      transform: translate(15%, 10%) !important;
    }
  }
  footer {
    .box {
      min-height: 0 !important;
    }
    #ft-col-1 {
      display: none;
    }
    #ft-col-2 {
      flex-direction: row !important;
      padding: 3vw;
      #ft-infor {
        flex-direction: row !important;
        flex-wrap: wrap;
        .infor-up {
          flex-direction: row !important;
          width: 100%;
          h3 {
            display: flex;
            flex-grow: 3;
            font-size: 3vw !important;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            line-height: 1.5;
          }
          .list-infor {
            flex-grow: 7;
            display: flex;
            justify-content: flex-end;
            ul {
              width: 100%;
              display: flex;
              justify-content: space-around;
              li {
                display: flex;
                a {
                  font-size: 3vw !important;
                }
              }
            }
          }
        }
        .infor-down {
          width: 100%;
          padding: 5vh 0;
          h3 {
            font-weight: bold;
            display: flex;
            flex-grow: 3;
            line-height: 1.5;
            margin-bottom: 0;
            font-size: 3vw !important;
            justify-content: center;
            align-items: center;
            align-items: center;
          }
        }
      }
    }
    #ft-col-3 {
      flex-direction: row !important;
      padding: 3vw;
      #ft-policy {
        flex-direction: row !important;
        flex-wrap: wrap;
        .infor-up {
          flex-direction: row !important;
          width: 100%;
          h3 {
            display: flex;
            flex-grow: 3;
            font-size: 3vw !important;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
          }
          .list-infor {
            flex-grow: 7;
            display: flex;
            justify-content: flex-end;
            ul {
              width: 100%;
              display: flex;
              justify-content: space-around;
              li {
                display: flex;
                a {
                  font-size: 3vw !important;
                }
              }
            }
          }
        }
        .infor-down {
          padding: 5vh 0;
          width: 100%;
          h3 {
            font-weight: bold;
            display: flex;
            flex-grow: 3;
            line-height: 1.5;
            margin-bottom: 0;
            font-size: 3vw !important;
            justify-content: center;
            align-items: center;
            align-items: center;
          }
        }
      }
    }
    #ft-col-4 {
      .social-media {
        width: 25% !important;
      }
    }
  }
}
