* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: lightskyblue;
  width: 100vw;
  height: 100vh;
}
nav {
  width: 100vw;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
}
